In [14]:
from sklearn.impute import SimpleImputer
import numpy as np

In [1]:
import pandas as pd
from sklearn.datasets import load_iris

# Iris veri setini yükle
iris = load_iris()

# Veriyi DataFrame'e dönüştür
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

In [2]:
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [5]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [7]:
iris_df["sepal length (cm)"]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length (cm), Length: 150, dtype: float64

In [9]:
iris_df.loc[0, "sepal length (cm)"] = None

In [10]:
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  NaN               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [17]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
imp_mean.fit(iris_df)

names = iris_df.columns

# Strateji tanımlandıktan sonra bu stratejinin bu veri kümesi için uygulanması transform() fonksiyonu yardımıyla sağlanır.
data = imp_mean.transform(iris_df)
data = pd.DataFrame(data, columns=names)

print(data)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0             5.848322               3.5                1.4               0.2
1             4.900000               3.0                1.4               0.2
2             4.700000               3.2                1.3               0.2
3             4.600000               3.1                1.5               0.2
4             5.000000               3.6                1.4               0.2
..                 ...               ...                ...               ...
145           6.700000               3.0                5.2               2.3
146           6.300000               2.5                5.0               1.9
147           6.500000               3.0                5.2               2.0
148           6.200000               3.4                5.4               2.3
149           5.900000               3.0                5.1               1.8

[150 rows x 4 columns]